temp/*
*.aux
*.bbl
*.blg
*.log
*.out
*.bak
*.sav
*.log
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.log
*.fdb_latexmk
*.snm
*.synctex(busy)
*.synctex.gz(busy)
*.nav
*.gz
*.bcf
*.xml
.vscode
